.header{
	height: 3em;
	background-color: #cccccc;
	margin: 0 auto;
}

#scoreboard{
	float: left;
}

#menu{
	float: right;
}


.interface {
	width: 50%;
	height: 200px;
	background-color: #cccccc;
	margin: 10% auto;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

.interface a {
	background-color: #eeeeee;
	color: purple;
	font-size: 18px;
	border-radius: 2px;
	margin: auto;
}

.interface a:hover {
	color: green;
	background-color: cyan;

}

#letterBank{
	position: absolute;
	bottom: 5%;
	border-bottom: 0;
}