.header{
	height: 3em;
	background-color: #cccccc;
	margin: 0 auto;
}

/*h1 {
	text-align: center;
	margin: 15% 0 0 0;
}*/
#scoreboard{
	float: left;
}

#menu{
	float: right;
}


.interface {
	width: 50%;
	height: 200px;
	background-color: #cccccc;
	margin: 10% auto;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

#letter {
	background-color: #eeeeee;
	color: purple;
	float: left;
	font-size: 18px;
	border-radius: 2px;
	margin: 5px;
	padding: 3px;
}

#letter:hover {
	color: green;
	background-color: cyan;

}

#letterBank{
	position: absolute;
	bottom: 5%;
	border-bottom: 0;
}

.categoryChoice {
	display: block;
	clear: none;
}

#unsolved {
	float: left;
	display: block;
	font-size: 18px;
	position: relative;
	margin: 2px;
}

#wordspace {
	width: 100%;
	letter-spacing: 2px;
}

#wrongGuesses{
	display: block;
	clear: both;
}

/*.unhidden {
	display: block;
}

.hidden {
	display: none;
}*/